_build/*ali
_build/*bexch
_build/*cswi
_build/*db
_build/gnatinspect*
_build/gpsauto*
_build/*o
_build/*stderr
_build/*stdout
_build/*xml
_build/b__*
_build/docs/*html
_build/docs/*js
_build/entities/*html
_build/entities/*js
_build/images/*
_build/srcs/*html
_build/srcs/*js
mars_mpl
mars_mpl.exe
shared_parameters.????*
shared_sensor_data*
simulator*
